{% load static %}

<table class="table" id="good-table">
    <tr>
        <th>
            Наименование товара
        </th>
        <th>
            Единица измерения
        </th>
        <th>
            Стоимость товара, руб.
        </th>
        <th>
            Дата поставки
        </th>
    </tr>
    {% for item in products %}
    <tr>
        <td>
            {{item.name}}
        </td>
        <td>
            {{item.unit}}
        </td>
        <td>
            {{item.price}}
        </td>
        <td>
            {{item.receipt_date}}
        </td>
    </tr>
    {% endfor %}
</table>
